

<header class="nave">
  <!-- Contenedor centro: logo + barra de búsqueda -->
  <div class="centro">
    <div class="logo">
    </div>
    <div class="barra">
      <input type="text" placeholder="Buscar...">
    </div>
  </div>

  <!-- Iconos alineados a la derecha -->
  <div class="iconos">
    <div class="icono">
      <a href=""><button class="boton"><img src="./img/usuario.png" width="30px" height="30px"></button></a>
    </div>
    <div class="icono">
      <a href=""><button class="boton"><img src="./img/carrito-de-compras.png" width="30px" height="30px"></button></a> 
    </div>
  </div>
</header>
