<link rel="stylesheet" href="/css/carrito.css">

<%- include('../partials/header') %>

    <section class="tarjeta_carrito">
        <img src="/img/boquita.jpg" alt="Camiseta de Boca Juniors" class="img">

        <div class="nombrecasaca">
            <h2>Camiseta de Boca Juniors</h2>
            <h2>En Stock</h2>
            <h2>Envío Gratis</h2>
        </div>

        <div class="precio">
            <h2>$ 149.999</h2>
        </div>

        
    </section>
    <div class="boton_comprar">
            <button class="boton">Comprar</button>
        </div>

<%- include('../partials/footer') %>