<link rel="stylesheet" href="/css/styledescri.css">
<%- include('../partials/header') %>

<div class="tarjeta_descri">
     <img src="/img/boquita.jpg">
     <div class="info">
          <h1>Camiseta Oficial Boca Juniors</h1>
          <p>Precio: <strong>$149.999</strong></p>
          <p>Esta camiseta oficial de Boca Juniors está hecha con tecnología AeroReady para mantenerte seco. Producto original.</p>
          <p>Nota: Los productos personalizados no están sujetos a cambios y/o devoluciones.</p>
          <a class="volver" href="/index">← Volver al inicio</a> 
     </div>
</div>

<%- include('../partials/footer') %>