<link rel="stylesheet" href="/css/styledescri.css">
<header class="nave">
     <!-- Contenedor centro: logo + barra de búsqueda -->
     <div class="centro">
          <div class="logo">
               <img src="/img/logo.jpeg" alt="logo">
          </div>
          <div class="barra">
               <input type="text" placeholder="Buscar...">
          </div>
     </div>

     <!-- Iconos alineados a la derecha -->
     <div class="iconos">
          <div class="icono">
               <a href="perfil.html"><button class="boton"><img src="/img/usuario.png" width="30px"
                              height="30px"></button></a>
          </div>
          <div class="icono">
               <a href="/carrito"><button class="boton"><img src="/img/carrito-de-compras.png" width="30px"
                              height="30px"></button></a>
          </div>
     </div>
</header>
<%- include('../partials/header') %>

     <div class="tarjeta_descri">
          <img src="/img/boquita.jpg">
          <div class="info">
               <h1>Camiseta Oficial Boca Juniors</h1>
               <p>Precio: <strong>$149.999</strong></p>
               <p>Esta camiseta oficial de Boca Juniors está hecha con tecnología AeroReady para mantenerte seco.
                    Producto original.</p>
               <p>Nota: Los productos personalizados no están sujetos a cambios y/o devoluciones.</p>
               <a class="volver" href="/index">← Volver al inicio</a>
               <a class="volver" href="/carrito">→ Agregar al carrito</a>
          </div>
     </div>

     <%- include('../partials/footer') %>