<link rel="stylesheet" href="/css/style.css">
<%- include('../partials/header') %>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>


  <!-- Videos laterales -->
  <div class="anuncio izquierdo">
    <video src="/img/video1.mp4" autoplay muted loop></video>
  </div>
  <div class="anuncio derecho">
    <video src="/img/video1.mp4" autoplay muted loop></video>
  </div>

  <!-- Navegación -->
  <header class="nave">
    <!-- Contenedor centro: logo + barra de búsqueda -->
    <div class="centro">
      <div class="logo">
        <img src="/img/logo.jpeg" alt="logo">
      </div>
      <div class="barra">
        <input type="text" placeholder="Buscar...">
      </div>
    </div>

    <!-- Iconos alineados a la derecha -->
    <div class="iconos">
      <div class="icono">
        <a href="perfil.html"><button class="boton"><img src="/img/usuario.png" width="30px" height="30px"></button></a>
      </div>
      <div class="icono">
        <a href="/carrito"><button class="boton"><img src="/img/carrito-de-compras.png" width="30px"
              height="30px"></button></a>
      </div>
    </div>
  </header>

  <!-- Contenido Principal -->
  <main class="contenedor">

    <a class="link" href="/descripcion">
      <section class="tarjeta">
        <h2>Camiseta de Boca Juniors</h2>
        <ul>
          <img src="/img/boquita.jpg" alt="">
          <li>$ 149.999</li>
          <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
        </ul>
      </section>
    </a>

    <a class="link" href="/descripcionRiver">
      <section class="tarjeta">
        <h2>Camiseta de river Plate</h2>
        <img src="/img/river.jpg" alt="">
        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>


    <a class="link" href="/descripcion3">
      <section class="tarjeta">
        <h2>Camiseta de la Seleccion Argentina</h2>
        <ul>
          <img src="/img/seleccion.jpg" alt="">
          <li>$ 149.999</li>
          <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
        </ul>
      </section>
    </a>

    <a class="link" href="/descripcion">
      <section class="tarjeta">
        <h2>Camiseta de Boca Juniors</h2>
        <ul>
          <img src="/img/central.jpg" alt="">
          <li>$ 149.999</li>
          <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
        </ul>
      </section>
    </a>

    <a class="link" href="/descripcion">
      <section class="tarjeta">
        <h2>Camiseta de Boca Juniors</h2>
        <ul>
          <img src="/img/sanlorenzo.jpg" alt="">
          <li>$ 149.999</li>
          <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
        </ul>
      </section>
    </a>

//BOTINES

    <section class="tarjeta">
      <a class="link" href="">
        <h2>Zona de envío gratis</h2>
        <img src="/img/botin1.jpg" alt="">
        <p>Compra ahora</p>
        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </a>
    </section>

    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <ul>
          <img src="/img/botin2.jpg" alt="">
          <li>$ 149.999</li>
          <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
        </ul>
      </section>
    </a>


    <section class="tarjeta">
      <a class="link" href="">
        <h2>Zona de envío gratis</h2>
        <img src="/img/botin3.jpg" alt="">
        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </a>
    </section>

    <section class="tarjeta">
      <a class="link" href="">
        <h2>Zona de envío gratis</h2>
        <img src="/img/botin4.jpg" alt="">
        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </a>
    </section>

    <section class="tarjeta">
      <a class="link" href="">
        <h2>Zona de envío gratis</h2>
        <img src="/img/botin5.jpg" alt="">
        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </a>
    </section>
// GUANTES
    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <img src="/img/guantes1.jpg" alt="">

        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>

    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <img src="/img/guantes2.jpg" alt="">

        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>

    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <img src="/img/guantes3.jpg" alt="">

        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>

    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <img src="/img/guantes4.jpg" alt="">

        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>

    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <img src="/img/guantes5.jpg" alt="">

        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>

//PELOTAS

    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <img src="/img/pelota1.jpg" alt="">

        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>

    <a class="link" href="">
      <section class="tarjeta">
        <h2>Zona de envío gratis</h2>
        <img src="/img/pelota2.jpg" alt="">

        <li>$ 149.999</li>
        <li>Los productos personalizados no están sujetos a cambios y/o devoluciones.</li>
      </section>
    </a>

  </main>





  <%- include('../partials/footer') %>